<h1 class="c-ttl">New question</h1>

<div class="p-form">
  <%= form_with model: @question do |form| %>
    <div class="p-form__item">
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </div>

    <div class="p-form__item">
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>

    <div class="p-form__item">
      <%= form.label :content %><br>
      <%= form.text_area :content %>
    </div>

    <div class="p-form__btn">
      <%= form.submit %>
    </div>
  <% end %>
</div>