<h1 class="c-ttl">Show</h1>

<div class="p-show">
  <p class="p-show__txt">
    Title:<br>
    <%= @question.title %>
  </p>

  <p class="p-show__txt">
    Name:<br>
    <%= @question.name %>
  </p>

  <p class="p-show__txt">
    Content:<br>
    <%= @question.content %>
  </p>
</div>

<h2 class="c-ttl">Answers</h2>
<% @question.answers.each do |answer| %>
  <div class="p-answers">
    <p class="p-answer">
      Name:<br>
      <%= answer.name %>
    </p>
    <p class="p-answer">
      Content:<br>
      <%= answer.content %>
    </p>
  </div>
<% end %>

<h2 class="c-ttl">Add a answer</h2>
<div class="p-form">
  <%= form_with model: [@question, @question.answers.build] do |form| %>
    <div class="p-form__item">
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>

    <div class="p-form__item">
      <%= form.label :content %><br>
      <%= form.text_area :content %>
    </div>

    <div class="p-form__btn">
      <%= form.submit %>
    </div>
  <% end %>
</div>

<div class="c-btn">
  <%= link_to 'top', questions_path %>
</div>